{% extends 'layout.html.twig' %}

{% block title %}Edit Claim Status{% endblock %}

{% block body %}
    </br>
    <h2>Изменить статус заявки</h2>
    </br>
    {{ include('claimstatus/_form.html.twig', {'button_label': 'Обновить'}) }}
    </br>
    <a href="{{ path('app_claimstatus_index') }}">обратно к списку</a>
    </br>
    {{ include('claimstatus/_delete_form.html.twig') }}
{% endblock %}
